.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #5D47E9;
  min-width: 100%;
  padding: 20px 10%;

}

.container-box {
  background-color: white;
  border-radius: 2rem;
  padding: 50px;
  max-width: 1200px;
  margin-left: 80px;
}
.navbar-brand{
  font-size: 27px;
}

.btn-custom {
  background-color: #5D47E9;
  color: white;
}

.btn-custom:hover {
  background-color: black;
  color: white;

}

.navbar-nav {
  background-color: rgb(244, 244, 244);
  border-radius: 25px;
  display: flex;
}

.nav-link {
  color: rgb(46, 43, 43);
  font-size: 18px;
  font-weight: 500;
  transition: 0.5s;
}

.nav-link:hover {
  color: #5D47E9;
}
.container-fluid {
  text-align: center;
  padding: 50px;
  max-width: 2000px;
  margin: 20px auto; 
  width: 90%;
  background-color: white;
  color: black;
  
}
.header{
  font-size: 65px;
  padding: 20px;
}
.card{
  border: 1px solid;

  
}
.card-number{
  background-color: rgb(228, 246, 255);
}
.card-title{
  font-size: 28px;
}
.card-text{
  width: 100%;
  height: auto;
  padding: 50px;
  font-size: 19px;

}
.card-body  img{
  width: 250px;
  height: 200px;

}
